<div class="container">
  <h1>Password Analysis</h1>
  <% if @credentials.any? %>
    <table class="credentials-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Password</th>
          <th>Weaknesses</th>
          <th>Time to Crack</th>
        </tr>
      </thead>
      <tbody>
        <% @credentials.each do |credential| %>
          <tr class="fade-row">
            <td><%= credential.name %></td>
            <td><%= credential.masked_password %></td>
            <td><%= credential.weaknesses %></td>
            <td class="password" data-password="<%= credential.password %>"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= button_to 'Delete Everything', delete_all_credentials_path,
                  method: :delete,
                  class: 'reset fade-row',
                  style: 'display: none',
                  data: { turbo_action: "replace", turbo_frame: "_top" } %>
  <% else %>
    <h2><em>There's nothing here. Nobody has signed up.</em></h2>
  <% end %>
</div>

<script src="/passwordtester.js"></script>
<script>
  const analyze = zxcvbn; // from passwordtester.js
  if (!analyze) {
    console.error('zxcvbn library is not loaded.');
  }

  document.addEventListener("DOMContentLoaded", () => {
    const rows = document.querySelectorAll(".fade-row");
    let currentIndex = 0;

    document.body.addEventListener("click", () => {
      if (currentIndex < rows.length) {
        rows[currentIndex].style.display = "";
        rows[currentIndex].style.opacity = 1;
        currentIndex++;
      }
    });

    // Initialize rows with opacity 0
    rows.forEach(row => row.style.opacity = 0);
    rows.forEach(function(row) {
      const cell = row.querySelector(".password");
      const password = cell.getAttribute("data-password");
      const analysis = analyze(password);
      cell.textContent = analysis.crack_times_display.offline_slow_hashing_1e4_per_second;
    });
  });
</script>
